# ===============================
# Ignore image files
# ===============================
*.jpg
*.jpeg
*.png
*.bmp
*.tiff
*.tif
*.gif
*.webp

# ===============================
# Ignore text files
# ===============================
*.txt
data/images.zip
data/*.zip
